/* Наша команда */
.command {
  background-color: var(--second-bcg-cl);

  @include mq(not-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__list {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: -15px;
    }
  }

  &__item {
    text-align: center;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include mq(tablet) {
      max-width: 354px;
      margin: 15px;
      flex-basis: calc(100% / 2-30);
    }

    @include mq(desktop) {
      max-width: 270px;
      flex-basis: calc(100% / 3-30);
    }

    @include mq(mobile-only) {
      margin-bottom: 30px;
    }
  }

  &__item:last-child {
    @include mq(mobile-only) {
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
  }

  &__desc {
    padding-top: 30px;
    padding-bottom: 24px;

    @include mq(desktop) {
      padding-bottom: 30px;
    }
  }
}
