:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-bcg-cl: #2f303a;
  --second-bcg-cl: #f5f4fa;
  --text-color-transparency: rgba(255, 255, 255, 0.6);
}
